.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

.foa {
  transition: border-color 200ms;
}

.foa:focus {
  border-color: black;
}

.hidden {
  opacity: 0;
}

.fade {
  transition: opacity 2s
}
